{% for error in form.errors %}
    <div class="alert alert-danger">
        {% if error == 'form' %}
            {{ form.errors.messages[error] }}
        {% else %}
            {{ form.errors.translated_fields[error] }} {{ form.errors.messages[error] }}
        {% endif %}
    </div>
{% endfor %}