# This file contains a list of files and folders to be ignored when
# committing to a git repository.  Ignored files are both Slate project
# specific files as well as commonly ignored files on any project.

# For more information on this .gitignore files, see GitHub's
# documentation: https://help.github.com/articles/ignoring-files/

*.yml