<!-- /templates/customers/activate_account.liquid -->
<div class="container my-5">
    <h1 class="lead">Activate Account</h1>
    <div class="row">
        {% form 'activate_customer_password' %}
            {% include 'form-error', form: form %}
            
            <div class="col-12">
                <label for="activate_password1" class="form-label">Password</label>
                <input class="form-control" type="password" name="customer[password]" id="activate_password1">
            </div>
            <div class="col-12">
                <label for="activate_password2" class="form-label">Password Confirmation</label>
                <input class="form-control" type="password" name="customer[password_confirmation]" id="activate_password2">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100 rounded-0">Activate Account</button>
            </div>

            <p class="text-center">or</p>

            <div class="col-12">
                <input type="submit" name="decline" class="btn btn-primary w-100 rounded-0" value="Decline Invitation">
            </div>
        {% endform %}
    </div>
</div>