<div class="container my-5">
    <h1 class="lead">Reset Password</h1>
    <div class="row">
        {% form 'reset_customer_password' %}
            {% include 'form-error', form: form %}
            
            <div class="col-12">
                <label for="activate_password1" class="form-label">Password</label>
                <input class="form-control" type="password" name="customer[password]" id="activate_password1" size="20">
            </div>
            <div class="col-12">
                <label for="activate_password2" class="form-label">Password Confirmation</label>
                <input class="form-control" type="password" name="customer[password_confirmation]" id="activate_password2" size="20">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary w-100 rounded-0">Reset Password</button>
            </div>
        {% endform %}
    </div>
</div>