<div class="container">
    <section id="product_recommendation" class="row content-justify-center my-5">
      <div class="text-center"><h1>You may also like this</h1></div>
      <div id="product_recommendation_body" class="row">
  
      </div>
    </section>
  </div>
  
  <script>
    var productRecommendationBody = document.getElementById('product_recommendation_body');
  
    fetch('/recommendations/products.json?product_id={{ product.id }}')
    .then(resp => resp.json())
    .then(({ products }) => {
      console.log(products);
  
      if(products.length > 0) {
        products.forEach(function(product, index) {
          var card;
  
          card = '<div class="col-3 g-2">';
          card += '<div class="card" style="width: 18rem;">';
          
          if(product.images.length > 0) {
            card += '<img class="card-img-top" src="' + product.images[0] + '">';
          }
  
          card += '<div class="card-body">';
          card += '<h3><a href="' + product.url + '">' + product.title + '</a></h3>';
          card += '</div></div></div>';
  
          productRecommendationBody.innerHTML += card;
        });
      }
    });
  </script>