<div class="container vh-100">
    <div class="row d-flex align-items-center h-100">
        <div class="col-12">
            <section class="text-center mb-5">
                <h1 class="display-1">404</h1>
                <h1>{{ 'general.404.title' | t }}</h1>
                <p>{{ 'general.404.subtext_html' | t }}</p>
            </section>
        </div>
    </div>
</div>