{% form 'localization', id: "localization_form_tag", class: "dropup" %}
<div class="localeBtn">{{ 'globe.png' | asset_img_url: '50px' | img_tag }}</div>
<div class="dropup-content">
    {% for locale in shop.published_locales %}
        <a href="#" id="localeItem" lang="{{ locale.iso_code }}">{{ locale.endonym_name }}</a>
    {% endfor %}
</div>
<input type="hidden" name="locale_code" id="localeCode" value="{{ form.current_locale.iso_code }}">
{% endform %}